.body {
    background-color: rgb(208, 212, 215);
    height: 20%;
  }
  .body h1{
    padding: 10px;
    font-size: 35px;
    background-color: #000000;
    color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif ;
  }
  .error{
    color:red;
  }
  .app-container{
    padding-bottom: 23cap;
  }
  .app-container h1{
    background-color: black;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color:white;
    display: flex;
  }
  .container h2{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(0, 0, 0);
    display: flex;
  }
.database-container table th {
  background-color: #5d00ff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.database-container table td{
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #2b2828;
  font-weight: bold;
 
}
  .database-container h2{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(0, 0, 0);
    display: flex;
  }
  form button {
    background-color: blue;
    color: aquamarine;
    border: none;
    padding: 8px 16px; 
    font-size: 16px; 
    border-radius: 4px;
  }
  .app-container button{
    background-color: blue;
    color: rgb(255, 255, 255);
    border: #e97474;font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px 16px; 
    font-size: 16px; 
    border-radius: 8px;
  }
  
  .item { 
    background-color: aliceblue;
  }
  .container {
    display: flex;
    justify-content: center;
    padding-top: 9px;
    align-items: center;
    height: 100%;
    background-color: #c7c1cb;
  }
  .mandatory_fild{
    color:red;
    padding-left: 1ch; 
   font: size 16px;;
  }
  .error-message{
    color:red;
  }
  .container card {
    width: 25rem;
  

  }
  .card{
    background-color: aqua;
  }
  .card label {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    
  }
  
  .row {
    padding: 1rem; /* Corrected padding value */
  }
  
  .card-title {
    font-size: 35px;
    color: rgb(225, 230, 235);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  @media only screen and (max-width: 600px) {
    .card {
      width: 50%;
    }
  }
  
  /* Laptop view */
  @media only screen and (min-width: 601px) {
    .card {
      width: 75rem;
    }
  }
  